<div class="section">
  <div class=" row">
    <div class=" col-12">
      <h2>Latest Courses</h2>
    </div>
  </div>

  <!-- DISPLAY A LIST OF COURSES :: START -->
  <div class="row">
    <div class=" col-7" *ngIf="showVideos$ | async">
      <p>Check out the latest videos.</p>
      <!-- ADD CARDS HERE -->
      <ng-container *ngFor="let course of latestCourses$ | async">
        <lms-video-card [course]="course"></lms-video-card>
      </ng-container>
    </div>
  </div>
</div>
<!-- DISPLAY A LIST OF COURSES :: END -->
