<div class="section">
  <div class=" row">
    <form [formGroup]="formGroup" class="material-form">
      <div class="form-field-section">
        <mat-form-field class="full-width">
          <mat-label>Course Category</mat-label>
          <mat-select formControlName="category">
            <!-- https://stackoverflow.com/questions/35750059/select-based-on-enum-in-angular2 -->
            <mat-option *ngFor="let item of categories | enumKeys" [value]="item.value">{{ item.key }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-field-section">
        <mat-form-field>
          <input matInput placeholder="Enter the title of your course." formControlName="title" />
        </mat-form-field>
      </div>

      <div class="form-field-section">
        <mat-form-field>
          <textarea matInput placeholder="Enter course description." name="description" formControlName="description" rows="10"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
