workspace/.firebase/hosting.ZGlzdFxhcHBzXGxtcw.cache
notes/workspace-workshop.pdf

resources/material-dashboard-angular2-master/
server/LMS.solution/.vs/LMS.solution/v16/Server/sqlite3/db.lock
server/LMS.solution/.vs/LMS.solution/v16/.suo
server/LMS.solution/.vs/LMS.solution/v16/Server/sqlite3/storage.ide
server/LMS.solution/.vs/LMS.solution/v16/Server/sqlite3/storage.ide-shm
server/LMS.solution/.vs/LMS.solution/v16/Server/sqlite3/storage.ide-wal
server/LMS.solution/.vs/LMS.solution/v16/.suo
server/LMS.solution/LMS.Core/obj/*
server/LMS.solution/LMS.Core/bin/*
server/LMS.solution/LMS.Common/obj/*
server/LMS.solution/LMS.Common/bin/*
server/LMS.solution/LMS.WebApi/obj/*
server/LMS.solution/LMS.WebApi/bin/*
