<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <h1>LMS Admin</h1>
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Course Administration</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <p>Use to manage courses for the LMS.</p>
            <!-- <button type="button" class="btn btn-default">Default</button> -->
            <a
              class="btn btn-default"
              [routerLink]="['/courses']"
              routerLinkActive="router-link-active"
              >Courses</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
