<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">Angular•LMS</h1>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="https://angularlicio.us" class="nav-link" target="_blank">
              Angularlicio.us
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/contact-us" class="nav-link">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" class="nav-link">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/blog" class="nav-link">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/license" class="nav-link">
              License
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile">
          <a target="_blank" href="https://twitter.com/angularlicious" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
            <i class="fab fa-twitter"></i>
          </a>
          <a
            target="_blank"
            href="https://www.facebook.com/AngularOnTacos"
            class="btn btn-icon btn-neutral btn-round btn-simple"
            data-toggle="tooltip"
            data-original-title="Like us"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
          <a
            target="_blank"
            href="https://Instagram.com/angularlicious"
            class="btn btn-icon btn-neutral  btn-round btn-simple"
            data-toggle="tooltip"
            data-original-title="Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
