<div class=" content">
  <div class=" row">
    <div class=" col-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Course Admin</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <p>Use to manage courses for the LMS.</p>
            <!-- <button type="button"class="btn btn-default animation-on-hover">Default</button> -->
            <a
              class="btn btn-default animation-on-hover"
              [routerLink]="['/courses']"
              routerLinkActive="router-link-active"
              >Courses</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class=" col-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Author Admin</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <p>Use to manage authors for the LMS.</p>
            <!-- <button type="button"class="btn btn-default animation-on-hover">Default</button> -->
            <a
              class="btn btn-default animation-on-hover"
              [routerLink]="['/courses']"
              routerLinkActive="router-link-active"
              >Authors</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class=" col-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">User Admin</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <p>Use to manage users for the LMS.</p>
            <a
              class="btn btn-default animation-on-hover"
              [routerLink]="['/courses']"
              routerLinkActive="router-link-active"
              >Users</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
